@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bangers";
  src: url("/fonts/Bangers-Regular.ttf") format("truetype");
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

.text-border {
  text-shadow: -2px -2px 0 rgb(179, 255, 0),
    /* Borde negro arriba-izquierda */ 1px -1px 0 blue,
    /* Borde negro arriba-derecha */ -1px 1px 0 #000,
    /* Borde negro abajo-izquierda */ 1px 1px 0 purple; /* Borde negro abajo-derecha */
}
